Named Pipes/.vs/
Named Pipes/Library/
Named Pipes/obj/
Unity-WPF-Duplex-Communication/.vs/
Unity-WPF-Duplex-Communication/Shared/bin/
Unity-WPF-Duplex-Communication/Shared/obj/
Unity-WPF-Duplex-Communication/Unity-WPF-Duplex-Communication/bin/
Unity-WPF-Duplex-Communication/Unity-WPF-Duplex-Communication/obj/
